body {
    background-image: url("images/day.jpg");
    background-position: center;
    color: black;
}

.night {
    background-image: url("images/night.jpg");
    background-position: center;
    color: white;
}

nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#weather-search {
    width: 200px;
    height: 25px;
    border: solid black;
    border-radius: 20px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#weather-search.night {
    border: solid white;
    background-color: black;
}

#search-submit.night {
    border: solid white;
    border-radius: 10px;
    background-color: black;
}

::placeholder {
    text-align: center;
}

#search-submit {
    border: solid black;
    border-radius: 10px;
    background-color: white;
}

#weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

#main-weather-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

#weather-temp-f {
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
}

#weather-condition {
}

#weather-condition-image {
    height: 100px;
    width: 100px;
}

#high-and-low {
    margin-top: 0;
    display: flex;
    gap: 20px;
}

.weather-items {
    margin-top: 0;
    margin-bottom: 0;
}

#unit-selector {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}