body {
    background-image: url("images/clouds-49520.jpg");
    background-position: center;
}

#weather-info {
    display: flex;
    flex-direction: column;
    gap: 0;
}

#weather-temp-f {
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
}

#weather-condition {
    margin-bottom: 30px;
}

.weather-items {
    margin-top: 0;
    margin-bottom: 0;
}